<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/reset.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>

<header></header>
<aside class="tpl-aside">
    <ul class="tab-menu">
        <li><a href="#"><i class="fa fa-bars"></i><span>头部</span></a></li>
        <li><a href="#"><i class="fa fa-bars"></i><span>导航</span></a></li>
        <li><a href="#"><i class="fa fa-bars"></i><span>布局</span></a></li>
        <li><a href="#"><i class="fa fa-bars"></i><span>布局</span></a></li>
        <li><a href="#"><i class="fa fa-bars"></i><span>布局</span></a></li>
    </ul>

</aside>
<article class="tpl-content">
</article>


</body>
</html>
